/* fonts */

@import url('https://fonts.googleapis.com/css?family=Megrim|Muli');

/*  bg animation    */

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX();
          transform: translateX();
  background: url('../images/bg.png') no-repeat center center fixed;
  color: white;
}

/* landscape */

.landscape {

  display: table-cell;
  vertical-align: middle;
  text-align: center;
}



.moon-sun {
  width: 100px;
  height: 100px;
  background: rgb(201, 169, 87);
  border-radius: 50px;
  z-index: 10;
  position: relative;
  top: -950px;
  right: 320px;
  -webkit-animation: move-sun 6s 1 forwards;
          animation: move-sun 6s 1 forwards;
}

@-webkit-keyframes move-sun {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(60px, 100px);
            transform: translate(60px, 100px);
  }
}

@keyframes move-sun {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(60px, 100px);
            transform: translate(60px, 100px);
  }
}

.moon-one {
  width: 35px;
  height: 35px;
  background: rgb(212, 109, 48);
  border-radius: 50px;
  z-index: -1;
  position: relative;
  margin: 0;
  top: -580px;
  right: -100px;
  -webkit-animation: move-moon-one 6s 1 forwards;
          animation: move-moon-one 6s 1 forwards;
}

@-webkit-keyframes move-moon-one {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-300px, -250px);
            transform: translate(-300px, -250px);
  }
}

@keyframes move-moon-one {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-300px, -250px);
            transform: translate(-300px, -250px);
  }
}


.moon-two {
  width: 20px;
  height: 20px;
  background: rgb(188, 209, 213);
  border-radius: 50px;
  z-index: -1;
  position: relative;
  margin: 0;
  bottom: 995px;
  right: 300px;
}



/*   elements   */


.links {
  max-width: 1/2;
  margin-left: auto;
  margin-right: auto;
}


.links:before{
  content: '';
  display: table;
}


.links:after{
  content: '';
  display: table;
  clear: both;
}

.wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.wrap:before{
  content: '';
  display: table;
}

.wrap:after{
  content: '';
  display: table;
  clear: both;
}

.content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.content:before{
  content: '';
  display: table;
}

.content:after{
  content: '';
  display: table;
  clear: both;
}

p#quoteDisplay {
  z-index: 5;
  max-width: 500px;
}


h1, h2, h3 {
  text-align: center;
  font-family: 'Megrim', cursive;
  font-size: 45px;
}

p {
  font-family: 'Muli';
  text-align: center;
}

a {
  color: inherit;
  text-decoration: underline;
}

section {
  position: relative;
}

.btn {
  margin: 30px 40%;
  border: 2px solid white;
  font-family: 'Muli';
  color: white;
  background-color: transparent;
  height: 50px;
}

.btn:hover {
  color: #732207;
  background-color: white;
}

button {

}

/* screen */

.screen {
  margin: 20px 10px;
  background: -webkit-linear-gradient(right,rgba(125, 130, 126, 0.35) ,rgba(241, 237, 231, 0.48) );
  background: linear-gradient(to left,rgba(125, 130, 126, 0.35) ,rgba(241, 237, 231, 0.48) );
  border-radius: 50% / 10%;
  height: 250px;
  width: auto;
  padding: 10px;
  text-align: center;
  z-index: 4;
 border: 20px solid rgba(20, 15, 17, 0.55);
}




/*  responsive  */


@media (max-width: 768px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .content {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .content:before{
    content: '';
    display: table;
  }
  .content:after{
    content: '';
    display: table;
    clear: both;
  }
  #quoteDisplay {
    width: 100%;
  }
  .btn {
    margin-left: 30%;
  }

}
