/* fonts

@@font-face {
  font-family: 'Megrim';
  src: url('../fonts/Megrim.ttf'), format('truetype');
}

@@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli.ttf'), format('truetype');
}

*/

@import url('https://fonts.googleapis.com/css?family=Megrim|Muli');

/*  bg animation    */

body {
  display: flex;
  transform: translateX();
  background:url('../images/bg.png') no-repeat center center fixed;
  background-size: cover;
  color: rgb(255, 255, 255);

}

/* landscape */

.landscape {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}



.moon-sun {
  size: 100px;
  background: rgb(201, 169, 87);
  border-radius: 50px;
  z-index: 10;
  position: relative;
  top: -950px;
  right: 320px;
  animation: move-sun 6s 1 forwards;
}

@keyframes move-sun {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(60px, 100px);
  }
}

.moon-one {
  size: 35px;
  background: rgb(212, 109, 48);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  z-index: -1;
  position: relative;
  margin: 0;
  top: -580px;
  right: -100px;
  animation: move-moon-one 6s 1 forwards;
}

@keyframes move-moon-one {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-300px, -250px);
  }
}


.moon-two {
  size: 20px;
  background: rgb(188, 209, 213);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  z-index: -1;
  position: relative;
  margin: 0;
  bottom: 995px;
  right: 300px;
}



/*   elements   */


.links {
  lost-center: 1/2;
}

.wrap {
  lost-center: 1200px;
}

.content {
  lost-center: 800px;
  margin-top: 60px;
}

p#quoteDisplay {
  z-index: 5;
  max-width: 500px;
}


h1, h2, h3 {
  text-align: center;
  font-family: 'Megrim', cursive;
  font-size: 45px;
}

p {
  font-family: 'Muli';
  text-align: center;
}

a {
  color: inherit;
  text-decoration: underline;
}

section {
  position: relative;
}

.btn {
  margin: 30px 40%;
  border: 2px solid rgb(255, 255, 255);
  font-family: 'Muli';
  color: rgb(255, 255, 255) transparent;
  height: 50px;
}

.btn:hover {
  color: rgb(115, 34, 7) rgb(255, 255, 255);
}

button {

}

/* screen */

.screen {
  margin: 20px 10px;
  background: linear-gradient(to left,rgba(125, 130, 126, 0.35) ,rgba(241, 237, 231, 0.48) );
  border-radius: 50% / 10%;
  height: 250px;
  width: auto;
  padding: 10px;
  text-align: center;
  z-index: 4;
 border: 20px solid rgba(20, 15, 17, 0.55);
}




/*  responsive  */


@media (max-width: 768px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .content {
    lost-center: 280px;
    margin-top: 10px;
  }
  #quoteDisplay {
    width: 100%;
  }
  .btn {
    margin-left: 30%;
  }

}
