/* fonts */

@import url('https://fonts.googleapis.com/css?family=Megrim|Muli');

/*  bg animation    */

body {
  display: flex;
  transform: translateX();
  background: url('../images/bg.png') no-repeat center center fixed;
  color: white;
}

/* landscape */

.landscape {

  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.dune {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 100px solid #644749;
  margin-left: 0;
 display: inline-flex;
 transform: translateY(10px);
}

.big-dune {
  width: 0;
  height: 0;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  border-bottom: 100px solid #644749;
  margin-left: 0;
 display: inline-flex;
}

.moon-sun {
  size: 100px;
  background: rgb(201, 169, 87);
  border-radius: 50px;
  z-index: 10;
  position: relative;
  top: -850px;
  right: 300px;
  animation: move-sun 2s 1 forwards;
}

@keyframes move-sun {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20px, 20px);
  }
}

.moon-one {
  size: 35px;
  background: rgb(212, 109, 48);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  z-index: -1;
  position: relative;
  margin: 0;
  top: -780px;
  right: 200px;
  animation: move-moon-one 3s 1 forwards;
}

@keyframes move-moon-one {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-20px, -50px);
  }
}


.moon-two {
  size: 20px;
  background: rgb(188, 209, 213);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  z-index: -1;
  position: relative;
  margin: 0;
  top: -980px;
  right: 300px;
}



/*   elements   */


.links {
  lost-center: 1/2;
}

.wrap {
  lost-center: 1200px;
}

.content {
  lost-center: 800px;
  margin-top: 60px;
}

p#quoteDisplay {
  z-index: 5;
  max-width: 500px;
}


h1, h2, h3 {
  text-align: center;
  font-family: 'Megrim', cursive;
  font-size: 45px;
}

p {
  font-family: 'Muli';
  text-align: center;
}

a {
  color: inherit;
  text-decoration: underline;
}

section {
  position: relative;
}

.btn {
  margin: 30px 40%;
  border: 2px solid white;
  font-family: 'Muli';
  color: white transparent;
  height: 40px;
}

.btn:hover {
  color: #732207 white;
}

button {

}

/* screen */

.screen {
  margin: 20px 10px;
  background: linear-gradient(to left,rgba(125, 130, 126, 0.35) ,rgba(241, 237, 231, 0.48) );
  border-radius: 50% / 10%;
  height: 250px;
  width: auto;
  padding: 10px;
  text-align: center;
  z-index: 4;
 border: 20px solid rgba(20, 15, 17, 0.55);
}




/*  responsive  */


@media (max-width: 768px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .content {
    lost-center: 280px;
    margin-top: 10px;
  }
  #quoteDisplay {
    width: 100%;
  }
  .btn {
    margin-left: 30%;
  }
  .dune {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid #644749;
    margin-left: 0;
   display: inline-flex;


  }

  .big-dune {
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 50px solid #644749;
    margin-left: 0;
   display: inline-flex;

  }

}

@media (min-width: 768px) and (max-width: 1200px) {

  .dune {
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 70px solid #644749;
    margin-left: 0;
   display: inline-flex;


  }

  .big-dune {
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 70px solid #644749;
    margin-left: 0;
   display: inline-flex;

  }


}
